@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-dark: #1A2F3A;

    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height: 70px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

/* Layout em Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows:
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}



/* LOGO */
aside.logo {    
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration-line: none;
    
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}


/* HEADER */
header.header {
    background-color:#fff;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

header.header h2{
    font-size: 1.8em;
}


/* MENU */
aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
    
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
    margin-left: 5px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

/* CONTEUDO */

.content {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
}

/* FOOTER */
footer.footer {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0 25px;

    background-color: #fff;
    box-shadow: var(--shadow);
}








@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}


@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}

@media(max-width: 768px) {
    .app {
        grid-template-rows:
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas:
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows:
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu"
            "content"
            "footer";
    }
}